@using Web.Models.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Category
@{
    ViewData["Title"] = "Category";
}
<div>
    <h1>Create New Category</h1>
	<form asp-action="createCategory" method="post">
		
	<label asp-for="catName">Category Name:</label>
	<input asp-for="catName" class="form-control border-2" placeholder="Enter category name" />
	<br />
	<label asp-for="catOrder">Category Order:</label>
		<input asp-for="catOrder" class="form-control border-2" placeholder="Enter Category Order" />
	<br />

	<div class="d-flex justify-content-center">
		<button class="btn btn-primary mx-3 px-3 py-2" type="submit">Create</button>
		<a class="btn btn-secondary " asp-action="GetAllCategories">View all Categories</a>
		</div>
	</form>

	
</div>